
        <figure>

            <img  id="portada" src="{{this.img-url}}" alt="{{this.img-alt}}">


        </figure>

        <p>Album: {{this.titulo}}</p>
        <p>Artista/Banda: {{this.band}}</p>
        <p>Año de lanzamiento: {{this.year}}</p>
        <p>Género: {{this.genre}}</p>

