
        <figure>

            <img src="{{this.img-url}}" alt="{{this.img-alt}}">

            <figcaption>Album: {{this.titulo}}</figcaption>

        </figure>

        <p>Artista/Banda: {{this.band}}</p>
        <p>Año de lanzamiento: {{this.year}}</p>
        <p>Género: {{this.genre}}</p>

